USE [master]
GO
/****** Object:  Database [Ispit]    Script Date: 21.3.2019. 23:40:40 ******/
CREATE DATABASE [Ispit]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ispit', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Ispit.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ispit_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Ispit_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ispit].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ispit]
GO
USE [Ispit]
GO
/****** Object:  Table [dbo].[mediji]    Script Date: 21.3.2019. 23:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mediji](
	[id_medij] [int] NOT NULL,
	[tip] [nvarchar](50) NOT NULL,
	[naziv] [nvarchar](50) NOT NULL,
	[posudio] [datetime] NOT NULL,
	[vratio] [datetime] NULL,
	[prijatelj_id] [int] NOT NULL,
 CONSTRAINT [PK_cdovi] PRIMARY KEY CLUSTERED 
(
	[id_medij] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prijatelji]    Script Date: 21.3.2019. 23:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prijatelji](
	[id] [int] NOT NULL,
	[ime] [nvarchar](50) NOT NULL,
	[prezime] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_prijatelji] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[mediji]  WITH CHECK ADD  CONSTRAINT [FK_mediji_prijatelji] FOREIGN KEY([prijatelj_id])
REFERENCES [dbo].[prijatelji] ([id])
GO
ALTER TABLE [dbo].[mediji] CHECK CONSTRAINT [FK_mediji_prijatelji]
GO
ALTER TABLE [dbo].[mediji]  WITH CHECK ADD  CONSTRAINT [CK_mediji] CHECK  (([tip]='DVD' OR [tip]='CD'))
GO
ALTER TABLE [dbo].[mediji] CHECK CONSTRAINT [CK_mediji]
GO
USE [master]
GO
