USE [master]
GO
/****** Object:  Database [videoteka]    Script Date: 20.3.2019. 0:02:25 ******/
CREATE DATABASE [videoteka]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'videoteka', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\videoteka.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'videoteka_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\videoteka_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [videoteka].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [videoteka]
GO
USE [videoteka]
GO
/****** Object:  Table [dbo].[clanovi]    Script Date: 20.3.2019. 0:02:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clanovi](
	[id] [int] NOT NULL,
	[ime] [nvarchar](50) NOT NULL,
	[prezime] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[filmovi]    Script Date: 20.3.2019. 0:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[filmovi](
	[id] [int] NOT NULL,
	[naziv] [nvarchar](50) NOT NULL,
	[zanr] [nvarchar](50) NOT NULL,
	[format] [nvarchar](50) NOT NULL,
	[hit] [bit] NOT NULL,
	[polica] [int] NOT NULL,
	[posudio] [int] NOT NULL,
	[datum_posudbe] [date] NOT NULL,
 CONSTRAINT [PK_filmovi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[filmovi]  WITH CHECK ADD  CONSTRAINT [check_filmovi_format] CHECK  (([format]='DVD' OR [FORMAT]='VHS'))
GO
ALTER TABLE [dbo].[filmovi] CHECK CONSTRAINT [check_filmovi_format]
GO
USE [master]
GO
